# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

# Environments
.env
.venv
env/
venv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Project specific
tests/*.tif
*.tif
